.warnabtn {
  background-color: #98c2c1;
  color: #ffffff;
}

.text-link {
  color: #697fA4;
}

a.text-link:hover,
a.text-link:focus {
  color: #98C2C1(190, 148, 19) !important;
}

.stroke {

  line-height: 1.6;
  color: #98C2C1;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #98C2C1;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: auto;

}

.tengah {
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}